<h1>zomato</h1>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Zomato</h4>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" [(ngModel)]="city" required [pattern]="unamePattern" class="form-control" name="city"
                  id="city" aria-describedby="city" placeholder="Enter city name here..." #ucity="ngModel">
                <div class="error" *ngIf="ucity.errors?.pattern">
                  City name not valid.
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <button type="button" (click)="restaurantCategory()"
                [disabled]="ucity.errors?.pattern!=null||city.length==0" class="btn btn-primary">Get
                Restaurant
                Category</button>
            </div>

          </div>
          <!-- *ngIf="res_category.length>0" -->
          <div class="row" *ngIf="res_category.length>0">
            <div class="col-md-3">
              <div class="form-group">
                <label for="category">Category</label>
                <select class="form-control" name="category" id="category" (change)="resetRestaurants()"
                  [(ngModel)]="establistment_id">
                  <option value="0" selected disabled>--Select category--</option>

                  <option *ngFor="let item of res_category" [value]="item['establishment'].id">
                    {{item['establishment'].name}}</option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="cusines">Cusines</label>
                <select class="form-control" name="cusines" id="cusines" (change)="resetRestaurants()"
                  [(ngModel)]="cuisine_id">
                  <option value="0" selected disabled>--Select cusines--</option>
                  <option *ngFor="let item of cuisines_cat" [value]="item['cuisine'].cuisine_id">
                    {{item['cuisine'].cuisine_name}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-4"></div>
              <button type="button" (click)="restaurant()" [disabled]="!establistment_id" class="btn btn-primary">Get
                Restaurant
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-2" *ngFor="let item of restaurants">
              <div class="card" style="min-height: 400px;">
                <div class="card-body">
                  <h4 class="card-title">
                    <div class="row">
                      <div class="col-md-4">
                        Name
                      </div>
                      <div class="col-md-8">
                        <small>{{item['restaurant'].name}}</small>
                      </div>
                    </div>
                  </h4>

                  <h4 class="card-title">
                    <div class="row">
                      <div class="col-md-4">
                        Average Cost for 2
                      </div>
                      <div class="col-md-8">
                        <small>{{item['restaurant'].average_cost_for_two}}</small>
                      </div>
                    </div>
                  </h4>

                  <h4 class="card-title">
                    <div class="row">
                      <div class="col-md-4">
                        Address
                      </div>
                      <div class="col-md-8">
                        <small>{{item['restaurant']['location']?.address}}</small>
                      </div>
                    </div>
                  </h4>
                  <h4 class="card-title">
                    <div class="row">
                      <div class="col-md-4">
                        Latitude
                      </div>
                      <div class="col-md-8">
                        <small>{{item['restaurant']['location']?.latitude}}</small>
                      </div>
                    </div>
                  </h4>
                  <h4 class="card-title">
                    <div class="row">
                      <div class="col-md-4">
                        Longitude
                      </div>
                      <div class="col-md-8">
                        <small>{{item['restaurant']['location']?.longitude}}</small>
                      </div>
                    </div>
                  </h4>
                  <h4 class="card-title">
                    <div class="row">
                      <div class="col-md-4">
                        Locality
                      </div>
                      <div class="col-md-8">
                        <small>{{item['restaurant']['location']?.locality}}</small>
                      </div>
                    </div>
                  </h4>
                  <div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>